<div class="cta-group">
  {% if cta_1_text %}
  <a class="cta-1 tab-element-page" href="{{ cta_1_url }}">
    <span class="ring">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="16"
        width="14"
        viewBox="0 0 448 512"
      >
        <path
          opacity="1"
          fill="#1E3050"
          d="M435.3 267.3L446.6 256l-11.3-11.3-168-168L256 65.4 233.4 88l11.3 11.3L385.4 240 16 240 0 240l0 32 16 0 369.4 0L244.7 412.7 233.4 424 256 446.6l11.3-11.3 168-168z"
        />
      </svg>
    </span>
    <span class="cta-text">{{ cta_1_text }}</span>
  </a>
  {% endif %}
  <!-- prettier-ignore -->
  {% if cta_2_text %}
  <a class="cta-2 tab-element-page" href="{{ cta_2_url }}">
    <span class="dot-wrapper">
      <span class="dot"></span>
    </span>
    <span class="cta-text">{{ cta_2_text }}</span>
  </a>
  {% endif %}
</div>
