* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // Autofill for form fields: input, textarea, select, etc. Feel free to delete if there are no forms
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus-visible {
    -webkit-text-fill-color: var(--font-color--primary);
    -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
  }

  // This hides the default buttons on input type="number"
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }
}

body {
  background: var(--background-color);
  color: var(--font-color--primary);

  & > * {
    max-width: $content-width;
    margin: auto;
  }

  // Loader styles, controlled by having a loader partial present in the html
  &:has(.site-loader) {
    $duration: 1s;
    $delay: 0.25s;

    .hero {
      h1,
      p,
      div {
        opacity: 0;
        transition: $duration ease $delay;
      }

      p {
        transition-delay: $delay + 0.075s;
      }
      div {
        transition-delay: $delay + 0.125s;
      }
    }
  }

  // Loader complete styles
  &:has(.load-complete) {
    .hero {
      h1,
      p,
      div {
        opacity: 1;
      }
    }
  }
}

.site-header {
  & > * {
    position: fixed;
    top: 0;
    z-index: $z-index--site-header;
  }

  .logo {
    @include left-spacing;
    display: flex;
    align-items: center;
    top: 48px;

    span {
      overflow: hidden;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      transition: 0.3s ease;

      &:first-of-type {
        width: 48px;
      }
      &:last-of-type {
        width: 96px;
      }
    }

    svg {
      margin: 0 4px;
      translate: -2px -1px;
      height: 12px;
    }
  }

  .menu-btn {
    @include row-center;
    @include right-spacing;
    top: 32px;
    margin-inline-end: -10px; // Alignment for page spacing
    text-transform: uppercase;
    gap: 12px;
    cursor: pointer;
    mix-blend-mode: difference;

    @include no-motion-desktop-hover {
      .burger {
        border: 2px solid $grey;
        border-radius: 50%;
        transition: none;
      }
    }

    &:hover {
      @include mq-mouse {
        // element added for specificity
        span.menu-btn-text {
          translate: -12px 0;
          opacity: 1;
        }
      }
    }

    &:focus-visible {
      span.menu-btn-text {
        // exclude translation like above
        opacity: 1;
      }
    }

    .menu-btn-text {
      width: 36px;
      transition: 0.3s ease;

      @include mq-max("sm") {
        width: 28px;
      }
    }

    .burger {
      position: relative;
      width: 48px;
      height: 48px;
      transition: 0.4s $cubic-ease-back-dramatic, rotate 0.3s ease;

      .burger-line-wrapper {
        @include absolute-center;
        transition: 0.3s ease;
      }

      &-line {
        @include absolute-center;
        width: 28px;
        height: 3px;
        background-color: $white;
        transition: 0.3s ease;

        @include mq-max("sm") {
          width: 24px;
          height: 2px;
        }

        &:first-of-type {
          translate: -50% calc(-50% - 4px);
        }

        &:last-of-type {
          translate: -50% calc(-50% + 4px);
        }
      }
    }

    &[aria-expanded="true"] {
      .burger-line-wrapper {
        rotate: 90deg;
      }

      .burger-line {
        &:first-of-type {
          translate: -50% -50%;
          rotate: 45deg;
        }

        &:last-of-type {
          translate: -50% -50%;
          rotate: -45deg;
        }
      }
    }
  }

  &.away-from-top {
    .logo {
      span {
        width: 0;
      }
    }

    .menu-btn {
      .menu-btn-text {
        opacity: 0;
        // visibility: hidden; // Need this to pass wave, but need to make it transition
      }
    }
  }

  &.nav-active {
    .logo {
      span {
        &:first-of-type {
          width: 48px;
        }
        &:last-of-type {
          width: 96px;
        }
      }
    }

    .menu-btn {
      @include no-motion-desktop-hover {
        .burger {
          border-color: $white;
        }
      }

      .menu-btn-text {
        opacity: 1;
      }
    }
  }
}

.site-nav {
  background: rgba($grey-dark, 0.95);
  backdrop-filter: blur(4px);
  position: fixed;
  top: 50%;
  left: 50%;
  width: calc(100vw - var(--body-padding) / 2);
  height: calc(100dvh - var(--body-padding) / 2);
  min-height: 620px;
  border-radius: var(--radius);
  overflow: auto;
  z-index: $z-index--nav;
  opacity: 0;
  pointer-events: none;
  translate: -50% -50%;
  transform: perspective(500px) rotateX(-5deg);
  transform-origin: top;
  transition: 0.5s ease 0.32s, opacity 0.5s ease 0.48s, height 0s;

  &[aria-hidden="false"] {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s ease;
    transform: perspective(500px) rotateX(0deg);

    .nav-links {
      li {
        opacity: 1;
      }
    }

    .nav-footer {
      .nav-footer-links {
        li {
          opacity: 1;
        }
      }

      .nav-social {
        opacity: 1;
      }
    }
  }

  @include mq-max("md") {
    min-height: 520px;
    width: calc(100vw - var(--body-padding));
    height: calc(100dvh - var(--body-padding));
  }

  .width-constraint {
    position: relative;
    width: 100%;
    height: 100%;

    & > * {
      position: absolute;
      width: calc(100% - var(--body-padding) * 2);
    }
  }

  .nav-links {
    top: 50%;
    translate: 0 -50%;

    @include mq-max("sm") {
      translate: 0 -50%;
    }

    // Main nav links
    li {
      padding: 12px 0;
      opacity: 0;
      transition: opacity 0.2s ease;

      @include mq-max("md") {
        padding: 8px 0;
      }

      &:nth-of-type(1) {
        transition-delay: 0.16s;
      }
      &:nth-of-type(2) {
        transition-delay: 0.2s;
      }
      &:nth-of-type(3) {
        transition-delay: 0.24s;
      }
      &:nth-of-type(4) {
        transition-delay: 0.28s;
      }
      &:nth-of-type(5) {
        transition-delay: 0.32s;
      }
    }

    .nav-link {
      position: relative;
      text-transform: uppercase;
      font-size: 64px;
      padding: 12px 0;
      padding-inline-start: 20px;
      cursor: pointer;
      transition: 0.3s ease;

      @media all {
        @include mq-max("xxl") {
          font-size: 48px;
        }

        @include mq-max("md") {
          font-size: 36px;
          padding: 8px 0;
          padding-inline-start: 12px;
        }

        @include mq-max("sm") {
          padding-inline-start: unset;
        }
      }

      &:hover,
      &:focus-visible {
        padding-inline-start: 36px;

        @include mq-max("md") {
          padding-inline-start: 24px;
        }

        svg {
          scale: 1.5;
          border-width: 2px;

          path {
            opacity: 1;
          }
        }

        &.home-link {
          span {
            color: $home-title-color;
          }
          svg {
            border-color: $home-title-color;

            path {
              fill: $home-title-color;
            }
          }
        }
        &.work-link {
          span {
            color: $work-title-color;
          }
          svg {
            border-color: $work-title-color;

            path {
              fill: $work-title-color;
            }
          }
        }
        &.benefits-link {
          span {
            color: $benefits-title-color;
          }
          svg {
            border-color: $benefits-title-color;

            path {
              fill: $benefits-title-color;
            }
          }
        }
        &.plans-link {
          span {
            color: $plans-title-color;
          }
          svg {
            border-color: $plans-title-color;

            path {
              fill: $plans-title-color;
            }
          }
        }
        &.faq-link {
          span {
            color: $faq-title-color;
          }
          svg {
            border-color: $faq-title-color;

            path {
              fill: $faq-title-color;
            }
          }
        }
      }

      .icon-wrapper {
        @include row-center(space-between);
        position: absolute;
        top: 50%;
        left: 0;
        translate: -24px -50%;
        width: 32px;
        height: 32px;

        @include mq-max("md") {
          width: 24px;
          height: 24px;
        }

        @include mq-max("sm") {
          display: none;
        }
      }

      svg {
        border: 4px solid $coral;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        scale: 0.5;
        padding: 6px;
        transition: 0.3s ease;

        @include mq-max("md") {
          padding: 2px;
        }

        path {
          fill: $coral;
          opacity: 0;
          transition: 0.3s ease;
        }
      }

      span.glitch-link {
        transition: 0.3s ease;
      }
    }
  }

  .nav-footer {
    @include row-center(space-between);
    bottom: 36px;

    @include mq-max("md") {
      flex-direction: row-reverse;
    }

    &-links {
      @include row-center(space-between);
      align-self: flex-end;
      gap: 56px;
      translate: -28px 0;

      @media all {
        @include mq-max("xxl") {
          gap: 24px;
        }

        @include mq-max("lg") {
          gap: 4px;
        }

        @include mq-max("md") {
          flex-direction: column;
          align-items: flex-start;
          gap: 6px;
          translate: 0 8px;
        }
      }

      // Footer nav-links
      li {
        opacity: 0;
        transition: opacity 0.2s ease;

        &:nth-of-type(1) {
          transition-delay: 0.28s;

          .nav-footer-link {
            &:hover,
            &:focus-visible {
              color: $coral;
            }

            svg {
              width: 18px;
              height: 18px;

              @include mq-min("md") {
                width: 24px;
                height: 24px;
              }
            }
          }
        }

        &:nth-of-type(2) {
          transition-delay: 0.32s;

          .nav-footer-link {
            gap: 4px;

            &:hover,
            &:focus-visible {
              color: $green;
            }
          }
        }

        &:nth-of-type(3) {
          transition-delay: 0.36s;

          .nav-footer-link {
            &:hover,
            &:focus-visible {
              color: $yellow;
            }
          }
        }
      }

      .nav-footer-link {
        @include row-center(space-between);
        font-size: 16px;
        gap: 4px;
        text-transform: uppercase;

        @media all {
          @include no-motion-desktop-hover {
            .icon-wrapper {
              border: 2px solid $white;
            }
          }

          @include mq-max("md") {
            font-size: 14px;
            width: 140px;
            flex-direction: row-reverse;
          }

          @include mq-max("sm") {
            font-size: 12px;
            width: 124px;
          }
        }

        &:hover,
        &:focus-visible {
          .link-text {
            translate: 12px 0;

            @include mq-max("md") {
              translate: 0 0;
            }
          }

          .icon-wrapper {
            svg {
              @include mq-max("md") {
                scale: 0.8;
              }
            }
          }
        }

        &:focus-visible {
          .icon-wrapper {
            border: 2px solid $white;
          }
        }

        .link-text {
          transition: 0.3s ease;
        }

        .icon-wrapper {
          @include row-center;
          width: 48px;
          height: 48px;
          border-radius: 50%;
          border: 2px solid transparent;
          margin-inline-end: -4px;
          transition: 0.3s ease;

          @include mq-max("md") {
            margin-inline-end: unset;
            width: 32px;
            height: 32px;
          }
        }

        svg {
          width: 20px;
          height: 20px;
          transition: 0.3s ease;
        }
      }
    }

    .nav-social {
      translate: 0 -8px;
      opacity: 0;
      transition: 0.3s ease, opacity 0.3s ease 0.4s;

      @include mq-max("md") {
        translate: 0 10px;
      }

      &:hover,
      &:focus-within {
        .social-media-title {
          translate: 0 0;

          @include mq-max("md") {
            translate: 0 12px;
          }
        }
      }

      .social-media-title {
        translate: 0 52px;

        @media all {
          @include mq-max("md") {
            translate: 0 12px;
          }

          @include mq-touch {
            translate: 0 12px;
          }
        }

        svg {
          @include mq-max("sm") {
            display: none;
          }
        }
      }

      .social-media-links {
        @include mq-max("md") {
          translate: -8px 0;
          display: inline-flex;
          // gap: $social-media-links-spacing-sm;
        }
      }
    }
  }
}

.site-footer {
  @include row-center(space-between);
  gap: 12px;
  position: relative;
  padding: var(--body-padding);

  @media all {
    @include mq-max("lg") {
      justify-content: flex-start;
    }

    @include mq-max("md") {
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
    }

    @include mq-max("sm") {
      padding-block-end: 48px;
    }
  }

  .copyright {
    @include row-center;
    gap: 10px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    translate: calc(-50% - 6px) 50%;

    @include mq-max("lg") {
      left: auto;
      bottom: 0;
      right: var(--body-padding);
      translate: 0 calc(var(--body-padding) * -1);
    }

    @include mq-max("sm") {
      position: static;
      order: 1;
      translate: 0 0;
    }
  }

  .return-to-top,
  .axys-link {
    translate: -8px;

    @include mq-max("md") {
      font-size: 12px;
    }
  }
}

.site-loader {
  @include row-center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100dvh;
  background: var(--background-color);
  z-index: $z-index--loader;

  &__text {
    @include h6;
    color: var(--font-color--primary);
  }

  &.load-complete {
    transition: 0.5s ease;
    opacity: 0;
    pointer-events: none;
  }
}

section {
  @include section-padding;

  &.hero {
    padding-block: 380px;

    @include mq-max("xxl") {
      padding-block: 320px;
    }

    @include mq-max("md") {
      padding-block: 248px;
    }
  }
}

h1,
.h1 {
  @include h1;
  text-transform: uppercase;
}
h2,
.h2 {
  @include h2;
}
h3,
.h3 {
  @include h3;
}
h4,
.h4 {
  @include h4;
}
h5,
.h5 {
  @include h5;
}
h6,
.h6 {
  @include h6;
}

p,
strong,
em,
a,
figcaption,
blockquote,
input,
textarea,
label {
  @include body-font-styles;
  text-decoration: none;
}

strong {
  font-weight: 900;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

span {
  font-family: inherit;
}

small {
  font-family: $brand-font--body;
  font-size: 12px;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

figure {
  font-size: 0; // Chrome's user agent stylesheet adds 1em padding-block-end
}

img,
video {
  width: 100%;
}

// Global

.mouse-cursor {
  border: 2px solid $grey;
  position: fixed;
  top: 0;
  display: flex;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  z-index: $z-index--mouse-cursor;
  pointer-events: none;

  transition: 0.8s $cubic-ease-mouse, border 0.4s ease, width 0.48s ease,
    height 0.48s ease, opacity 0.3s ease 0.3s;

  @include mq-touch {
    display: none;
  }
  @include mq-motion-reduce {
    display: none;
  }

  &.vanish-mouse-cursor {
    z-index: 1;
    animation: vanish-cursor 0.48s;
    border: 0px solid transparent;
  }

  &.cta2-active {
    width: 24px;
    height: 24px;
  }

  &.cta2-active,
  &.nav-link-active {
    border-width: 4px;
    border-color: $white;
    transition: 0.4s cubic-bezier(0.02, 0.35, 0.39, 1.12), border 0.2s ease;
  }

  &.nav-link-active {
    border-width: 2px;

    @include mq-max("md") {
      width: 36px;
      height: 36px;
    }
  }

  &.burger-active,
  &.social-link-active {
    width: 72px;
    height: 72px;
    transition: 0.4s cubic-bezier(0.02, 0.35, 0.39, 1.12), border 0.3s ease;
  }

  &.social-link-active,
  &.return-to-top-active {
    width: 36px;
    height: 36px;
    border-color: $blue;
  }
  &.return-to-top-active {
    border-color: $green;
    transition: 0.4s cubic-bezier(0.02, 0.35, 0.39, 1.12), border 0.3s ease;
  }

  &.mail-form-active {
    width: 40px;
    height: 40px;
    border-color: $blue;
    transition: 0.6s cubic-bezier(0.02, 0.35, 0.39, 1.12), border 0.4s ease;

    @include mq-max("xxl") {
      width: 36px;
      height: 36px;
    }
  }

  // mission statement mouse animations

  &.statement-active {
    border-color: transparent;
    width: 8vw;
    height: 8vw;
  }

  // use each class so that we can style each unique 'active'
  .icon-globe,
  .icon-person,
  .icon-magnifying-glass {
    @include absolute-center;
    width: 8vw;
    height: 8vw;
    fill: $grey;
    opacity: 0;
    transition: opacity 0.3s ease;

    @include mq-max("md") {
      width: 16vw;
      height: 16vw;
    }

    &.active {
      display: block;
      opacity: 0.5;
    }
  }
}

.stripes-bg {
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50% 0;
  height: 100vh;
  width: 92vw;
  z-index: -1;
  display: flex;
  justify-content: space-around;
  z-index: -5;

  @include mq-max("sm") {
    width: 100vw;
  }

  .stripe {
    position: relative;
    width: 2px;
    height: 100%;
    background-color: rgba($grey-dark, 0.5);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 0;
      background: rgba($white, 0.05);
    }

    &:nth-of-type(1) {
      &::before {
        animation: background-stripes 5.6s ease 1s infinite;
      }
    }
    &:nth-of-type(2) {
      &::before {
        animation: background-stripes 5.6s ease 1.12s infinite;
      }
    }
    &:nth-of-type(3) {
      &::before {
        animation: background-stripes 5.6s ease 1.24s infinite;
      }
    }
  }
}

// Components

.cta-group {
  display: flex;
  gap: 8px;

  .cta-1,
  .cta-2 {
    @include row-center;
    font-size: 24px;
    text-transform: uppercase;

    @include mq-max("xxl") {
      font-size: 20px;
    }

    @include mq-max("md") {
      font-size: 16px;
    }

    @include mq-max("sm") {
      font-size: 14px;
    }

    .cta-text {
      transition: 0.3s ease, background 0s;

      span {
        transition: 0.3s ease;
      }
    }
  }

  .cta-1 {
    &:hover,
    &:focus-visible {
      .ring {
        // border-color: $blue;
        translate: -24px 0;

        @include mq-max("md") {
          scale: 0.8;
          translate: -12px 0;
        }

        svg {
          opacity: 1;
          scale: 1;
        }
      }

      .cta-text {
        translate: -12px 0;
        // color: $blue;
        background-color: transparent;

        // span {
        //   color: $blue;
        // }
      }
    }

    .ring {
      @include row-center;
      border: 2px solid $grey;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      transition: 0.3s ease;

      svg {
        width: 24px;
        height: 24px;
        opacity: 0;
        scale: 0.25;
        transition: 0.3s ease;

        // path {
        //   fill: $blue;
        // }
      }
    }

    .cta-text {
      background-color: $black;
      translate: -24px 0;
      padding: 2px 0;
    }
  }

  .cta-2 {
    &:hover,
    &:focus-visible {
      .cta-text {
        color: $coral;
        translate: 12px 0;

        @include mq-max("md") {
          translate: 8px 0;
        }
      }

      .dot-wrapper {
        .dot {
          width: 24px;
          height: 24px;
          background-color: $coral;

          @include mq-max("sm") {
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    .dot-wrapper {
      @include row-center;
      width: 24px;
      height: 24px;
      margin-inline-end: 4px;

      .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $grey;
        transition: 0.3s ease;
      }
    }
  }
}

.social-media-links {
  display: flex;
  gap: 24px;

  @include mq-max("md") {
    gap: 12px;
  }

  @include mq-max("sm") {
    gap: 24px;
  }

  li.magnet {
    transition: 0.4s ease;
  }

  .social-media-link {
    @include row-center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.25s ease;

    @include mq-max("sm") {
      width: 24px;
      height: 24px;
    }

    &:hover,
    &:focus-visible {
      .social-media-icon-wrapper {
        translate: 0 -40%;
      }
    }

    .social-media-icon-wrapper {
      @include column-center;
      gap: 24px;
      translate: 0 36%;
      transition: 0.25s ease;

      .social-media-icon {
        path {
          fill: var(--font-color--primary);
        }
      }
    }
  }
}
