// $brand-font--heading: "Satoshi", source-sans-pro, sans-serif;
// $brand-font--body: Avenir, Montserrat, Corbel, source-sans-pro, sans-serif; // If not using a 'Modern font stack' just have one fallback
$brand-font--heading: "Funnel Display", source-sans-pro, sans-serif;
$brand-font--body: "Funnel Display", source-sans-pro, sans-serif;
$brand-font--mono: "Geist Mono", source-sans-pro, sans-serif;

$black: #101010;
// $grey-darker: #212121;
$grey-dark: #1e1e1e;
$grey: #3d3d3d;
// $grey: #909090;
$grey-light: #909090;
$grey-lighter: #e4e4e4;
$white: #f0f0f0;

$coral: #e48c66;
$red: #f82a58;
$blue: #7ec1d4;
$green: #a4d1a2;
$yellow: #fbfaa2;
$pink: #e1a7b4;

$dark-coral: #bd7454;
$dark-blue: #0b708b;
$dark-green: #4b654b;
$dark-yellow: #848347;
$dark-pink: #956f77;

$content-width: 1364px;

// Layering
$z-index--nav: 3;
$z-index--header: 4;
$z-index--alert: 2; // // // //  Library DELETE ME
$z-index--scroll-progress: 2; // Library DELETE ME
$z-index--loader: 5; // // // // Library DELETE ME
$z-index--mouse-cursor: 10; // / Library DELETE ME

// Easing
$cubic-ease: cubic-bezier(0.18, 0.97, 0.47, 1);
$cubic-ease-back: cubic-bezier(0.02, 1.14, 0.7, 1.24);
$cubic-ease-back-strong: cubic-bezier(0, 1.2, 0.56, 1.39);
$cubic-ease-sudden: cubic-bezier(0.75, 0, 0.2, 1);
$cubic-ease-sudden-back: cubic-bezier(0.8, -0.11, 0.11, 1.11);
$cubic-ease-sudden-back-strong: cubic-bezier(0.77, -0.43, 0.11, 1.11);
$cubic-ease-slow-finish: cubic-bezier(0.09, 0.9, 0.5, 1);

$ease: 0.24s ease;
$ease-c: 0.64s $cubic-ease;
$ease-sudden: 0.64s $cubic-ease-sudden;

// Library
$magnet: transform 0.5s $cubic-ease;
// $magnet: transform 0.64s $cubic-ease-back-strong;

// Debugging
$test: 2px dashed rgba(yellow, 0.75);
$test-bg: rgba(navy, 0.75);

:root {
  --font-family--heading: #{$brand-font--heading};
  --font-family--body: #{$brand-font--body};
  --font-family--mono: #{$brand-font--mono};

  --content-width: #{$content-width};

  --body-padding: 64px;
  --body-padding-double: calc(var(--body-padding) * 2);
  --body-padding-half: calc(var(--body-padding) / 2);

  --border-width: 1px;
  --border-width--btn: 1px;
  --border-width--bold: 2px;

  --color-brand--primary: #{$coral}; // Generally consistent across themes
  // --color-brand--on-primary: #{$white};
  --color-brand--secondary: #{$blue};
  --color-brand--tertiary: #{$green};

  --color-font--error: #{$red};

  --color-border: #{$grey};

  --color-btn-bg: var(--color-brand--primary);
  --color-btn-bg--hover: transparent;
  --color-btn-text: var(--color-font--primary);
  --color-btn-text--hover: var(--color-brand--primary);
  --color-btn-border: var(--color-btn-bg);
  --color-btn-border--hover: var(--color-brand--primary);

  --color-link: var(--color-brand--primary);
  --color-link--hover: var(--color-brand--primary);

  --gap-btn-icon: 0.5ch;

  --color-badge: var(--color-brand--primary);

  --padding-btn: 8px 16px;
  --padding-btn-icon: 8px;
  --padding-btn--sm: 6px 12px;
  --padding-btn-icon--sm: 4px;

  --spacing--xs: 8px;
  --spacing--sm: 16px;
  --spacing: 24px;
  --spacing--lg: 48px;
  --spacing--xl: 96px;
  --spacing--xxl: 180px;

  --section-gap--sm: 12px;
  --section-gap: 24px;
  --section-gap--lg: 64px;

  // Consider radius vars for outter/inner based on spacing (padding)
  --radius: 16px;
  --radius--lg: 24px;
  --radius--sm: 8px;
  --radius--xs: 4px;
  --radius--btn: var(--radius--xs);

  --max-width--text: 450px;

  // header
  --header-children-height: 32px;

  @media (max-width: 1512px) {
    --body-padding: 48px;
  }

  @media (max-width: 1024px) {
    --body-padding: 24px;
    --section-gap--lg: 24px;

    --spacing--xs: 4px;
    --spacing--sm: 8px;
    --spacing: 12px;
    --spacing--lg: 24px;
    --spacing--xl: 48px;
  }
}

// Theme Toggle
@mixin light-theme {
  --color-dots-logo: #{$black};
  --color-background: #{$white};
  --color-background-alt: #fff;
  --color-font--primary: #{$black};
  --color-font--secondary: #{$grey-dark};
  --color-font--tertiary: #{$grey-light};

  // Used in data- props
  --color-brand--coral: #{$dark-coral};
  --color-brand--blue: #{$dark-blue};
  --color-brand--green: #{$dark-green};
  --color-brand--yellow: #{$dark-yellow};
  --color-brand--pink: #{$dark-pink};

  // --color-link: #{$grey-light};
  // --color-link--hover: #{$white};

  --color-surface--1: #{$grey-lighter};
  // --color-surface--2: #{$grey-lighter};

  // --color-border: #{$grey-light};
  --color-border-gradient: rgba(0, 0, 0, 0.5); // Library
  --color-glass-frost: rgba(255, 255, 255, 0.25); // Library
}

@mixin dark-theme {
  --color-dots-logo: #{$coral};
  --color-background: #{$black};
  --color-background-alt: #000;
  --color-font--primary: #{$white};
  --color-font--secondary: #{$grey-light};
  --color-font--tertiary: #{$grey-dark};

  // Used in data- props
  --color-brand--coral: #{$coral};
  --color-brand--blue: #{$blue};
  --color-brand--green: #{$green};
  --color-brand--yellow: #{$yellow};
  --color-brand--pink: #{$pink};

  // --color-link: #{$grey-light};
  // --color-link--hover: #{$white};

  --color-surface--1: #{$grey-dark};
  // --color-surface--2: #{$grey-darker};

  // --color-border: #{$grey-dark};
  --color-border-gradient: rgba(255, 255, 255, 0.5); // Library
  --color-glass-frost: rgba(0, 0, 0, 0.25); // Library
}

html[data-theme="dark"] {
  @include dark-theme;
}

html[data-theme="light"] {
  @include light-theme;
}

:root {
  --partial-float-offset: 24px;

  --carousel-snap-gap: 24px;
}
