// // // // // Base
// prettier-ignore
@import "variables",
 "functions",
 "mixins",
 "globals",
 "util",
 "fonts",
 "animations";

// // // // // Components
// prettier-ignore

@import "./components/accordion",
 "./components/alert",
 "./components/badge",
 "./components/btn", 
 "./components/btn-toggle",
 "./components/cta-group",
 "./components/dropdown-link",
 "./components/dots-fill",
 "./components/icon-svg",
 "./components/loader",
 "./components/marquee",
 "./components/mouse-cursor",
 "./components/promo-banner",
 "./components/scroll-progress",
 "./components/social-media",
 "./components/theme-toggle",
 "./components/tooltip";

// // // // // Partials
// prettier-ignore
@import "./partials/header-simple",
 "./partials/footer-simple";

// // // // // Pages
// prettier-ignore
@import "./pages/home",
 "./pages/style-guide",
 "./pages/404";

// // // // // Sections
// prettier-ignore
@import "./sections/axys-hero",
 "./sections/axys-section-faq",
 "./sections/axys-scroll-horizontal",
 "./sections/axys-section-plans",
 "./sections/axys-scroll-stack",
 "./sections/axys-work";
