.scroll-horizontal {
  overflow: hidden;
  max-width: 100%;

  &:has(&__title),
  &:has(&__desc) {
    .scroll-horizontal__container {
      height: 65%;
    }
  }

  &__pin {
    height: 100vh;
    min-height: 850px;

    @include mq-max(xxl) {
      min-height: 650px;
    }
  }

  // &__title {

  // }

  &__desc {
    margin-block-end: var(--section-gap--lg);

    @include mq-max(xxl) {
      margin-block-end: var(--section-gap);
    }
  }

  &__container {
    display: flex;
    align-items: center;
    height: 100%; // Conditionally changes if there's a title or description.
  }

  &__slider {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__message {
    white-space: nowrap;
    font-size: min(10vw, 128px);
  }

  .pin-spin__star {
    display: inline-block;
    rotate: -90deg;
    scale: 0.5;
    transform-origin: center;
  }

  // Image config
  // &__figure {
  //   // Couldn't get aspect ratio to work
  //   @include column-start;
  //   width: min(25vw, 450px);

  //   @include mq-max(xl) {
  //     width: 350px;
  //   }

  //   picture {
  //     overflow: hidden;
  //     height: 100%;
  //   }

  //   img {
  //     height: 100%;
  //     width: auto;
  //   }

  //   &--parallax {
  //     picture {
  //       justify-content: flex-end;
  //     }
  //   }
  // }
}
