.scroll-horizontal {
  // @include width-clamp;
  @include section-padding;
  position: relative; // for pin steps
  overflow: hidden;

  &__pin {
    border: $test;
    height: calc(100vh - calc(var(--header-height) * 2));
    min-height: 850px;
    max-width: $content-width;
    margin: auto;

    @include mq-max(xxl) {
      min-height: 650px;
    }

    @include mq-max(sm) {
      display: none;
    }
  }

  &__container {
    --container-height: calc(100svh - calc(var(--header-height) + var(--body-padding-double)));

    // border: $test;
    display: flex;
    align-items: center;
    height: var(--container-height);
  }

  &__slider {
    height: 100%;
    display: flex;
    gap: var(--spacing);
  }

  &__mobile-container {
    @include mq-min(sm) {
      display: none;
    }
  }

  &--message {
    .scroll-horizontal__slider {
      align-items: center;
    }

    .scroll-horizontal__message {
      white-space: nowrap;
      font-size: min(10vw, 128px);
    }
  }
}
