.hero {
  @include full-viewport-section;
  @include column-start;
  gap: 24px;

  &__title {
    @include column-start;

    &-last {
      translate: 4.1ch 0;
    }
  }

  &__desc {
    display: inline-block;
    translate: 1ch -10ch;
  }

  .cta-group {
    translate: 24ch 0;
  }
}
