.hero {
  @include full-viewport-section;
  @include column-start;
  gap: 24px;

  &__title {
    @include column-start;

    &-last {
      @include mq-min(lg) {
        translate: 4.1ch 0;
      }
    }
  }

  &__desc {
    @include body-font-styles;

    @include mq-min(lg) {
      display: inline-block;
      translate: 1ch -10ch;
    }
  }

  .cta-group {
    @include mq-min(lg) {
      translate: 24ch 0;
    }
  }
}
