---
layout: app
path: home
---

<section class="hero">
  <h1 class="hero__title">
    <span
      class="glitch-text glitch-cycle"
      data-glitch-cycle-words="Creative, Responsive, Accessible, Innovative, Engaging"
      data-glitch-cycle-colors="#e48c66, #7ec1d4, #a4d1a2, #fbfaa2, #e1a7b4"
      data-glitch-cycle-interval="3000"
      aria-hidden="true"
    ></span>
    {{ page_home.hero.section_title }}
  </h1>
  <small class="hero__desc">{{ page_home.hero.section_desc }}</small>
  <!-- prettier-ignore -->
  {% set content_start = true %}
  {% set cta_1 = page_home.hero.cta_1 %}
  {% set cta_2 = page_home.hero.cta_2 %}
  {% include "./_includes/components/cta-group.njk" %}
</section>

<!-- prettier-ignore -->
{% set marquee = global.marquee.marquee %}
{% include "./_includes/components/marquee.njk" %}

<section class="section-work" id="section-work">
  <h2>
    Our
    <span class="glitch-scroll color--work">Work</span>
  </h2>
  <p class="text-balance">
    We diligently collaborate with our clients to create exceptional experiences
    for their audiences.
  </p>
</section>

<!-- prettier-ignore -->
{% set hs_title = page_home.horizontal_scroll.title %} 
{% set hs_desc = page_home.horizontal_scroll.desc %}
{% set hs_message = page_home.horizontal_scroll.message %}
{% set hs_imgs = page_home.horizontal_scroll.imgs %}
{% set hs_img_parallax = page_home.horizontal_scroll.img_parallax %}
{% include './_includes/components/horizontal-scroll.njk' %}

<!-- prettier-ignore  -->
{% set panel_nav = page_home.stack_scroll.panel_nav %}
{% set panel_copy = page_home.stack_scroll.panel_copy %} 
{% set panel_data = page_home.stack_scroll.panels %}
{% set panel_configs = page_home.stack_scroll.panel_configs %}
{% include './_includes/components/stack-scroll.njk' %}

<section class="section-faq" id="section-faq">
  <h2 class="section-faq__title">
    Quick <span class="glitch-scroll color--faq">FAQs</span>
  </h2>
  <!-- prettier-ignore -->
  {% set accordion_list = page_home.accordion.accordion_data %}
  {% include './_includes/components/accordion.njk' %}

  <!-- prettier-ignore -->
  {% include "./_includes/components/cta-group.njk" %}
</section>

{% include './_includes/partials/loader.njk' %}
