---
layout: app
path: home

title: AXYS Creative | Unlimited Web Design + Development
description: Unlock unlimited web design and development services. Subscribe for responsive, user-friendly websites optimized for accessibility and performance.

# master props for cta-group
cta_1_text: View Plans
cta_1_url: "#plans"
cta_2_text: Our Work
cta_2_url: "#work"
---

<section class="hero-section" id="hero-section">
  <div class="section-headline">
    <h1
      class="section-headline__title"
      aria-label="Creative, Responsive, Accessible, Innovative, and Engaging Web design + development"
    >
      <span class="dynamic-text" aria-hidden="true">Creative</span>
      <span class="no-motion coral-text" aria-hidden="true"> Creative </span>
      <span aria-hidden="true">Web design +</span>
      <span aria-hidden="true">Development</span>
    </h1>

    <small class="section-headline__subtitle">
      Unlimited services. <br />One basic subscription.
    </small>
  </div>

  {% include './_includes/components/cta-group.html' %}
</section>

<!-- prettier-ignore -->
{% set marquee_text = 'WHERE [%span.text-stroke%]DESIGN[%span%] MEETS DEVELOPMENT • WHERE [%span.text-stroke%]DESIGN[%span%] MEETS DEVELOPMENT •' %} 
{% include './_includes/components/marquee.html' %}

{% include './_includes/partials/loader.html' %}
