---
layout: app
path: membership
---

<!-- prettier-ignore -->
{% set axys_hero = page_home.section_hero %}
{% include "./_includes/sections/axys-hero.njk" %}

<!-- prettier-ignore  -->
{% set scroll_stack = page_home.section_scroll_stack %}
{% include './_includes/sections/axys-scroll-stack.njk' %}

<!-- prettier-ignore -->
{% set plan_selection = page_home.section_plans %}
{% include './_includes/sections/axys-plans.njk' %}

<!-- prettier-ignore -->
{% set faq_section = page_home.section_faq %}
{% include './_includes/sections/axys-faq-section.njk' %}

<!-- prettier-ignore -->
{% set marquee = global.marquee %}
{% include './_includes/components/marquee.njk' %}
